 .u-section-1 {
  background-image: url("images/MonteRosa.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 614px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 152px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 23px 337px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 5px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 328px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 17px 337px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 0 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-3 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 246px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 9px 337px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 9px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-4 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 516px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 5px 332px 0 5px;
}

.u-section-5 .u-text-2 {
  margin: 0 332px 0 5px;
}

.u-section-5 .u-text-3 {
  margin: 0 0 0 5px;
}

.u-section-5 .u-list-1 {
  width: 84px;
  margin: 18px auto 0 0;
}

.u-section-5 .u-repeater-1 {
  min-height: 336px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-icon-4 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-5 .u-list-2 {
  width: 518px;
  margin: -330px auto -348px 84px;
}

.u-section-5 .u-repeater-2 {
  min-height: 324px;
  grid-template-columns: 100%;
  grid-gap: 4px 4px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 -29px 0 10px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 -29px 0 10px;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 -29px 0 10px;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-text-7 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 -29px 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: 137px;
  }

  .u-section-5 .u-list-2 {
    height: auto;
    margin-bottom: 30px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-5 .u-list-2 {
    margin-right: -72px;
    margin-bottom: 31px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-right: 98px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-right: 98px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-right: 98px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 10px;
    margin-right: 98px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-5 .u-list-1 {
    width: 75px;
    margin-top: 46px;
    margin-right: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 394px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-5 .u-list-2 {
    width: 327px;
    margin-top: -420px;
    margin-right: 0;
    margin-bottom: 47px;
  }

  .u-section-5 .u-repeater-2 {
    min-height: 404px;
    grid-gap: 0px 0px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 38px;
    margin-right: 9px;
    margin-left: 92px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 38px;
    margin-right: 9px;
    margin-left: 92px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 38px;
    margin-right: 9px;
    margin-left: 92px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 38px;
    margin-right: 9px;
    margin-left: 92px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 731px;
}

.u-section-6 .u-text-1 {
  margin: 0 337px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 6px 110px 0 0;
}

.u-section-6 .u-list-1 {
  width: 893px;
  margin: 3px auto 0 0;
}

.u-section-6 .u-repeater-1 {
  min-height: 370px;
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  grid-gap: 25px 25px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/ZainoClosed.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/BorsaTelaioClosed.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-image-3 {
  background-image: url("images/CarciofoneColsed.png");
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-list-2 {
  width: 807px;
  margin: 23px auto 0 76px;
}

.u-section-6 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 69.3333px) calc(33.3333% - 69.3333px) calc(33.3333% - 69.3333px);
  grid-gap: 104px 104px;
}

.u-section-6 .u-container-layout-4 {
  padding: 10px;
}

.u-section-6 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 10px;
}

.u-section-6 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 10px;
}

.u-section-6 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  margin: 8px 110px -20px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 137px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 331px;
    grid-auto-columns: calc(33.3333% - 16.6667px);
  }

  .u-section-6 .u-list-2 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    grid-auto-columns: 33.3333%;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 20px;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 257px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-list-2 {
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px) calc(33.3333% - 20.6667px);
    grid-gap: 31px 31px;
    grid-auto-columns: calc(33.3333% - 20.6667px);
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-6 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-6 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-9 {
    margin-bottom: -86px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1049px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-6 .u-list-1 {
    width: 170px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 771px;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-list-2 {
    width: 150px;
    margin-top: -779px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 839px;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 7px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 80px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 80px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 80px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-6 .u-text-9 {
    margin-top: -25px;
    margin-bottom: -257px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 658px;
}

.u-section-7 .u-image-1 {
  width: 248px;
  height: 386px;
  margin: 51px auto 0 32px;
}

.u-section-7 .u-image-2 {
  width: 160px;
  height: 449px;
  margin: -417px auto 0 398px;
}

.u-section-7 .u-image-3 {
  width: 314px;
  height: 183px;
  margin: -277px 200px 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
  margin: 114px 32px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-7 .u-image-1 {
    width: 208px;
    height: 323px;
  }

  .u-section-7 .u-image-2 {
    width: 123px;
    height: 345px;
    margin-top: -354px;
  }

  .u-section-7 .u-image-3 {
    width: 265px;
    height: 154px;
    margin-top: -215px;
    margin-right: 82px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 118px;
    margin-right: 0;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-7 .u-image-1 {
    height: 324px;
  }

  .u-section-7 .u-image-2 {
    height: 344px;
    margin-top: -344px;
    margin-left: 272px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -154px;
    margin-right: 28px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 44px;
    margin-bottom: -187px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-7 .u-image-1 {
    width: 155px;
    height: 242px;
    margin-top: 54px;
    margin-left: 38px;
  }

  .u-section-7 .u-image-2 {
    width: 92px;
    height: 258px;
    margin-top: -258px;
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    width: 212px;
    height: 123px;
    margin-top: -123px;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 30px;
    margin-bottom: -299px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-7 .u-image-1 {
    width: 92px;
    height: 144px;
    margin-top: 74px;
    margin-left: 10px;
  }

  .u-section-7 .u-image-2 {
    width: 66px;
    height: 184px;
    margin-top: -184px;
    margin-left: 113px;
  }

  .u-section-7 .u-image-3 {
    width: 154px;
    height: 90px;
    margin-top: -99px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 34px;
    margin-bottom: -861px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 580px;
}

.u-section-8 .u-list-1 {
  width: 98px;
  margin: 3px auto 0 0;
}

.u-section-8 .u-repeater-1 {
  min-height: 562px;
  grid-template-columns: 100%;
  grid-gap: 13px 13px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-icon-1 {
  width: 83px;
  height: 83px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-icon-2 {
  width: 83px;
  height: 83px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 0;
}

.u-section-8 .u-icon-3 {
  width: 83px;
  height: 83px;
  background-image: none;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 0;
}

.u-section-8 .u-icon-4 {
  width: 83px;
  height: 83px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: -546px 433px 0 88px;
}

.u-section-8 .u-text-2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 50px 498px 0 98px;
}

.u-section-8 .u-text-3 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 86px 606px 0 98px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  margin: -59px 0 0 497px;
}

.u-section-8 .u-text-5 {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 88px 606px 51px 98px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: -554px;
    margin-right: 0;
    margin-left: 105px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 57px;
    margin-right: 446px;
    margin-left: 105px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 90px;
    margin-right: 420px;
    margin-left: 105px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: -69px;
    margin-left: 521px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin: 36px 399px 42px 105px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -544px;
    margin-left: 101px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 47px;
    margin-right: 225px;
    margin-left: 106px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 86px;
    margin-right: 204px;
    margin-left: 101px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -16px;
    margin-right: 168px;
    margin-left: 106px;
  }

  .u-section-8 .u-text-5 {
    margin: -13px -101px 43px 101px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -534px;
    margin-left: 100px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 85px;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 98px;
    margin-right: 0;
    margin-left: 106px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -3px;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.5rem;
    margin: 0 0 60px 106px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-8 .u-repeater-1 {
    grid-gap: 0px 0px;
    min-height: 468px;
  }

  .u-section-8 .u-icon-1 {
    width: 57px;
    height: 57px;
    margin-top: 60px;
    margin-left: 8px;
  }

  .u-section-8 .u-icon-2 {
    width: 57px;
    height: 57px;
    margin-top: 60px;
    margin-left: 8px;
  }

  .u-section-8 .u-icon-3 {
    width: 57px;
    height: 57px;
    margin-top: 60px;
    margin-left: 8px;
  }

  .u-section-8 .u-icon-4 {
    width: 57px;
    height: 57px;
    margin-top: 60px;
    margin-left: 8px;
  }

  .u-section-8 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -396px;
    margin-left: 70px;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 75px;
    margin-left: 79px;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 83px;
    margin-right: 8px;
    margin-left: 70px;
  }

  .u-section-8 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-left: 60px;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-left: 70px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 378px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 0 337px 0 0;
}

.u-section-9 .u-list-1 {
  width: 346px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-repeater-1 {
  min-height: 196px;
  grid-template-columns: calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px);
  grid-gap: 26px 26px;
}

.u-section-9 .u-container-layout-1 {
  padding: 10px;
}

.u-section-9 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 10px;
}

.u-section-9 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 10px;
}

.u-section-9 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-container-layout-4 {
  padding: 10px;
}

.u-section-9 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 16px 337px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-9 .u-text-1 {
    width: 803px;
    margin-top: 10px;
    margin-right: 137px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 20px;
    margin-right: 137px;
  }

  .u-section-9 .u-image-1 {
    height: NaNpx;
  }

  .u-section-9 .u-image-2 {
    height: NaNpx;
  }

  .u-section-9 .u-image-3 {
    height: NaNpx;
  }

  .u-section-9 .u-image-4 {
    height: NaNpx;
  }

  .u-section-9 .u-text-2 {
    margin-right: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-9 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-9 .u-list-1 {
    width: 718px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 275px;
    grid-auto-columns: calc(25% - 19.5px);
  }

  .u-section-9 .u-image-1 {
    width: 86px;
    height: 208px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    width: 86px;
    height: 208px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-image-3 {
    width: 86px;
    height: 208px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-image-4 {
    width: 86px;
    height: 208px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: -477px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
    margin-top: 15px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 231px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 0px 0px;
    grid-auto-columns: calc(50% - 13px);
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-9 .u-image-1 {
    width: 60px;
    height: 144px;
    margin-top: 1px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-9 .u-image-2 {
    width: 60px;
    height: 144px;
    margin-top: 1px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-9 .u-image-3 {
    width: 60px;
    height: 144px;
    margin-top: 1px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-9 .u-image-4 {
    width: 60px;
    height: 144px;
    margin-top: 1px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -31px;
    margin-bottom: -3001px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-list-1 {
    width: 325px;
    margin-top: 23px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 171px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-9 .u-image-1 {
    width: 51px;
    height: 124px;
  }

  .u-section-9 .u-image-2 {
    width: 51px;
    height: 124px;
  }

  .u-section-9 .u-image-3 {
    width: 51px;
    height: 124px;
  }

  .u-section-9 .u-image-4 {
    width: 51px;
    height: 124px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -15px;
    margin-bottom: -2739px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1911px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 24px 337px 0 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  margin: 6px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 0;
}

.u-section-10 .u-image-1 {
  width: 890px;
  height: 513px;
  margin: 24px auto 0;
}

.u-section-10 .u-image-2 {
  width: 890px;
  height: 588px;
  margin: -18px auto 0;
}

.u-section-10 .u-text-4 {
  font-size: 1.125rem;
  margin: -570px 0 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.125rem;
  margin: 513px 0 0;
}

.u-section-10 .u-text-6 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-10 .u-image-3 {
  width: 890px;
  height: 497px;
  margin: 24px auto -184px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1965px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 137px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-10 .u-image-2 {
    margin-top: 6px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: -588px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-top: 532px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
  }

  .u-section-10 .u-image-3 {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1695px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    width: 720px;
    height: 405px;
  }

  .u-section-10 .u-image-2 {
    height: 476px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-text-4 {
    margin-top: -494px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 408px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-10 .u-image-3 {
    height: 402px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1445px;
  }

  .u-section-10 .u-image-1 {
    height: 304px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-2 {
    height: 357px;
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-4 {
    margin-top: -395px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 315px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 0;
  }

  .u-section-10 .u-image-3 {
    height: 302px;
    margin-top: 0;
    margin-bottom: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 15px;
  }

  .u-section-10 .u-image-1 {
    height: 196px;
    margin-top: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-2 {
    height: 225px;
    margin-top: 78px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-4 {
    margin-top: -297px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 226px;
  }

  .u-section-10 .u-image-3 {
    height: 190px;
    margin-top: 14px;
    margin-bottom: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 88px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 0 337px 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  margin: 9px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-11 .u-text-2 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }

  .u-section-11 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
  }

  .u-section-11 .u-text-2 {
    width: 340px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 115px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: 0 337px 0 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  margin: 11px 337px 0 0;
}

.u-section-12 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 337px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-12 .u-text-2 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-12 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    width: 540px;
  }

  .u-section-12 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    width: 340px;
  }

  .u-section-12 .u-text-2 {
    width: 340px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 849px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  margin: 0 337px 0 0;
}

.u-section-13 .u-text-2 {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-13 .u-text-3 {
  margin: -137px 0 0;
}

.u-section-13 .u-image-1 {
  width: 883px;
  height: 494px;
  margin: 111px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    width: 803px;
    margin-right: 137px;
  }

  .u-section-13 .u-text-2 {
    width: 803px;
  }

  .u-section-13 .u-text-3 {
    width: auto;
    margin-top: -163px;
  }

  .u-section-13 .u-image-1 {
    margin-top: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-13 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    width: 720px;
  }

  .u-section-13 .u-text-3 {
    margin-top: -180px;
  }

  .u-section-13 .u-image-1 {
    height: 403px;
    margin-top: 118px;
    margin-bottom: -102px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-13 .u-text-1 {
    width: 540px;
  }

  .u-section-13 .u-text-2 {
    width: 540px;
  }

  .u-section-13 .u-text-3 {
    margin-top: -206px;
  }

  .u-section-13 .u-image-1 {
    height: 302px;
    margin-top: 144px;
    margin-bottom: -204px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-13 .u-text-1 {
    width: 340px;
  }

  .u-section-13 .u-text-2 {
    width: 340px;
  }

  .u-section-13 .u-text-3 {
    margin-top: -305px;
  }

  .u-section-13 .u-image-1 {
    height: 190px;
    margin-top: 241px;
    margin-bottom: -185px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-14 {
  background-image: url("images/MonteRosa.png");
  background-position: 50% 50%;
}

.u-section-14 .u-sheet-1 {
  min-height: 517px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 275px;
  }
}